@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --sub-text: gray;
  --hover-nav: #907764;
  --bg-adminpathname:#461901;
  --titles-font: 'Great Vibes', cursive;
}

body {
  background: var(--background);

}
.Hero-images{
  -webkit-box-reflect: below;
}